{:paths ["src" "bin" "scripts" "resources"]
 :deps {kotoba-lang/jiten {:git/url "https://github.com/kotoba-lang/jiten.git"
                                     :git/sha "570da31dd70f69c8d33755bf3c1cf0f9488b5299"}}
 :aliases
 {:test {:extra-paths ["test"]}}}