#:jiten{:write-next [], :errors 0, :skipped [], :as-of "2026-07-29", :warnings 0, :files [#:jiten{:file "workspace-2026-07-29.edn", :entries 8}], :seq 1, :single-source [], :stats {:distinct-sources 16, :problems {}, :sections 15, :entries 8, :red-links 0, :topic-kinds {:artifact 8}, :orphans 1, :subjects 0, :languages #{"en"}, :confidence {:documented 25}, :forms {:article 8}, :links 12, :statements 25}}
#:jiten{:write-next [], :errors 0, :skipped [], :as-of "2026-07-29", :warnings 0, :files [#:jiten{:file "workspace-2026-07-29.edn", :entries 8}], :seq 2, :single-source [], :stats {:distinct-sources 16, :problems {}, :sections 15, :entries 8, :red-links 0, :topic-kinds {:artifact 8}, :orphans 1, :subjects 0, :languages #{"en"}, :confidence {:documented 25}, :forms {:article 8}, :links 12, :statements 25}}
